<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="homecss.css">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<style>
    @import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Creepster&family=Train+One&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Creepster&family=Train+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Codystar&family=Faster+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Codystar&family=Faster+One&family=New+Rocker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Codystar&family=Faster+One&family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Frijole&family=Monoton&display=swap');


    body {
        background: url(/images/404pic2.jpg)top/cover no-repeat fixed;

    }

    /* navbar */
    .image {
        z-index: 5;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 58px;
    }

    .navbar-custom {
        background-color: black;
        height: 8rem;
        font-family: 'Russo One', sans-serif;
    }

    #mobileNav {
        z-index: 3;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .account {
        text-decoration: none;
        margin-top: 20px;
        color: white;
    }

    div ul li a {
        font-size: 1.2rem;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
        position: relative;

    }

    .title {
        position: absolute;
        top: 80px;
        right: 10%;
        color: rgb(184, 63, 167);
        font-size: 220px;
        font-family: 'Frijole', cursive;
    }

    p {
        position: absolute;
        top: 300px;
        right: 14%;
        color: rgb(241, 238, 30);
        font-size: 32px;
        font-family: 'Frijole', cursive;
    }

    @media (max-width: 700px) {

        .title {
            position: absolute;
            top: 360px;
            right: 20%;

            color: rgb(241, 238, 30);
            font-size: 100px;
            font-family: 'Frijole', cursive;
        }

        p {
            position: absolute;
            top: 480px;
            right: 14%;
            color: rgb(241, 238, 30);
            font-size: 24px;
            font-family: 'Frijole', cursive;
        }

    }
</style>

<body>
    <!-- header -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon burger-custom"><img src="/images/burger2.png" alt=""
                            style="height: 100%; width: 100%; object-fit: contain;"></span>
                </button>


                <div class="navbar-collapse collapse" style="background-color: black;" id="mobileNav">
                    <ul class="navbar-nav ml-2 mt-2">
                        <li class="nav-item mr-2">
                            <img src="/images/main-logo.jpg" alt="" width="50px">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/trainers">Trainers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/memberships">Memberships</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#contact">Contact</a>
                        </li>
                        <% if(req.session.user && req.session.user.isAdmin==true) { %>
                            <li class="nav-item d-lg-none">
                                <a href="/users/list" class="nav-link text-white account">
                                    <%=req.session.user.fname%>
                                </a>
                            </li>
                            <% } else if (req.session.user) {%>
                                <li class="nav-item d-lg-none">
                                    <a href="/detailsuser" class="nav-link text-white account">
                                        <%=req.session.user.fname%>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item d-lg-none">
                                        <a href="/login" class="nav-link text-white">Sign in</a>
                                    </li>
                                    <li class="nav-item d-lg-none">
                                        <a href="/signup" class="nav-link text-white">Sign up</a>
                                    </li>
                                    <% } %>
                    </ul>
                </div>
                <% if(req.session.user && req.session.user.isAdmin==true) { %>
                    <div class="m-3 text-right d-none d-lg-block"><a class="account" href="/users/list">
                            <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                        </a></div>
                    <% } else if (req.session.user) {%>
                        <div class="m-3 text-right d-none d-lg-block"><a class="account" href="/detailsuser">
                                <%=req.session.user.fname%><img src="/images/user.png" alt="user" width="30rem">
                            </a></div>

                        <% } else { %>
                            <div class="m-3 text-right text-white d-none d-lg-block">
                                <a href="/login" class="nav-link text-white">Sign in</a>
                            </div>
                            <div class="m-3 text-right text-white d-none d-lg-block">
                                <a href="/signup" class="nav-link text-white">Sign up</a>
                            </div>
                            <% } %>
            </div>
        </nav>

    </header>
    <div class="text">
        <div class="title">404</div>
        <p class="my-5">Page not found</p>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>