<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

    * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(/images/500pic.jpg) center/cover no-repeat fixed;
        max-height: 100vh;
        position: relative;
    }

    .title {
        position: absolute;
        top: 150px;
        color: rgb(117, 221, 12);
        font-size: 250px;
        font-family: 'Train One', cursive;
    }

    p {
        position: absolute;
        top: 450px;
        color: rgb(112, 223, 2);
        font-size: 70px;
        font-family: 'Train One', cursive;
    }

    @media (max-width: 600px) {
        .title {
            top: 200px;
            font-size: 150px;
        }

        p {
            position: absolute;
            top: 400px;
            color: rgb(112, 223, 2);
            font-size: 50px;
            font-family: 'Train One', cursive;
        }
    }
</style>

<body>
    <div class="title">500</div>
    <p>Error</p>

</body>

</html>